node_modules
dist
.env
.env.local
.DS_Store
public/assets/images/**/*.jpg
public/assets/images/**/*.JPG
!public/assets/images/feature-two-mobile.jpg
public/assets/images/**/*.jpeg
public/assets/images/**/*.JPEG
public/assets/images/**/*.png
public/assets/images/**/*.PNG
